*{font-family: 'Fuggles', cursive;
  font-family: 'Lobster', cursive;
  background: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
		background-attachment: fixed;

  font-size: 35px;
}